[Unit]
Description=Sync Rugix app units into systemd
After=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=rugix-ctrl apps systemd sync-units
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
